@charset "utf-8";
/* CSS Document */

body {
	background-color: black;
}

* {padding:0px ; magin:0px}

#todo { width:800px; margin:auto}
#headerbg {height:180px; background-image:url(../images/header.png);}
#navegacion {height:30px; font-family:Tahoma, Geneva, sans-serif; background-image:url(../images/nav.png);
}

ul, ol { list-style:none;}
.nav li a { background-color:#333;
background-image:url(../images/nav.png);
color:#FFF; text-decoration:none; padding: 4px 15px;
display:block; text-shadow: 1px 1px 2px #000;}
.nav > li {float:left;}
.nav li a:hover{ 
background-image:url(../images/navselect.png)
}
.nav li ul {
 display:none;
 position:absolute;
 min-width:140px;
 }
.nav li:hover > ul{
	display:block;
	}
.imgboxar { margin-top:10px;}
#box-ar { background-image:url(../images/box-ar.png); height:60px; margin-top:10px; text-align:center}
#box-m { background-image:url(../images/box-m.png); height:800px;} 
#box-m-texto { width:600px; margin:auto; color:#FFF; font-family:Tahoma, Geneva, sans-serif; }
#box-portada-a { background-image:url(../images/box-portada-ar.png); width:655px;; height:28px; margin:auto}
#box-portada-m { background-image:url(../images/box-portada-m.png); width:655px; height: 676px; margin:auto; background-repeat:repeat-y;}
#box-port-columnaizq { width:250px; height:350px; float:left; margin-left:60px; margin-top:20px; text-align:center;color:#FFF; font-family:Tahoma, Geneva, sans-serif;}
#box-port-columnader { width:250px; height:350px; float:right; margin-right:60px; margin-top:20px; text-align:center;color:#FFF; font-family:Tahoma, Geneva, sans-serif;}